<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script 
        src="https://cdn.jsdelivr.net/holder/2.9.0/holder.min.js">
    </script>
    <style>
        .card{
             min-height: 680px;
        }
    </style>
    <title>Library</title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/library">library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addBooks">Add Books</a>
                </li>
            </ul>
    </nav>

    <div class="container">
        <br><br><br><br>
        <h1 class="text-center">Library</h1>
        <div class="row justify-content-md-center">
            <div class="card-columns p-5">
                <% for(var i=0; i < library.length; i++){ %>
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src = <%= library[i].src %> alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title"><%= library[i].Title %></h5>
                                <p class="card-text">Author: <%= library[i].Author %></p>
                                <p class="card-text">Publisher: <%= library[i].Publisher %></p>
                                <p class="card-text">Year: <%= library[i].Year %></p>
                               
                            </div>
                    </div>
                <% } %>
            </div>  
            </div>
        </div>
    </div>



</body>
</html>